<div style="width:50%; margin:0 auto;">
  <h3>Select option with search</h3>
  <form [formGroup]="materialForm">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Vehicle Variant</mat-label>
      <mat-select formControlName="vehiclesType">
        <mat-optgroup>
          <mat-form-field>
            <input matInput placeholder="search" name="search" #search />
          </mat-form-field>
        </mat-optgroup>
        <mat-option *ngFor="let item of vehiclesTypeName | filter:search.value:'name'" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <h3>Contact Information</h3>
    <div style="padding: 10px; border:1px solid #f1f1f1; border-radius: 15px; background-color: #f1f1f1;" >
      <a (click)="addContact()">Add</a>
      <!-- <div formArrayName="contact"> -->
      <div *ngFor="let item of this.materialForm.controls['contact'].value; let i = index">
        {{i}}
          <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Contact Name" name="contactNames" formControlName="contactNames" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Contact Email</mat-label>
              <input matInput placeholder="Contact Email" name="contactEmail" formControlName="contactEmail" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Contact Number</mat-label>
              <input matInput placeholder="contactNumber" name="contactNumber" formControlName="contactNumber" />
            </mat-form-field>
      </div>
      <!-- <div formArrayName="master">
          <mat-form-field appearance="outline">
              <mat-label>Contact Number</mat-label>
              <input matInput placeholder="contactNumber" name="manterId" formControlName="manterId" />
            </mat-form-field>
      </div> -->

    </div>
  </form>
</div>


<router-outlet></router-outlet>
